body {
	font-family: "Courier New", Courier, monospace;
/*	background: #373737;*/
/*	background-color: rgb(00, 65, 67); */
	background-color: rgb(255, 255, 255); 
	padding: 15px;
/*	color: rgba(238, 156, 00, 1);*/
	text-align: center;
}

table {
	text-align: left;
}
table.center {
  margin-left:auto; 
  margin-right:auto;
}
tr:first-child {background: rgba(00, 135,137, 0.25); }
tr:nth-child(2n+3) {background: rgba(00, 95,97, 0.15); }

.meterRed   {background: rgba(220, 146, 140, 1); }
.meterSiver {background: rgba(250, 250, 250, 1); }
.meterBlack {background: rgba(149, 149, 149, 1); }
